.card {
  width: 20vw;
  height: 25vh;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;

}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.tags {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
.title {
  width: 100%;
  transition: transform 0.5s;
  text-transform: uppercase;
  padding: 3px 6px 4px 6px;
  border: 1px solid white;
  margin-right: 1rem;
  cursor: pointer;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
 z-index: 2;
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


@media screen and (min-width: 2100px) {
.card {
    width: 20vw;
    height: 30vh;
}

.character {
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }

}

@media screen and (min-width: 2200px) {
  .card {
      width: 15vw;
      height: 30vh;
  }
  
  .character {
      width: 100%;
      height: 80%;
      opacity: 0;
      transition: all 0.5s;
      position: absolute;
      z-index: -1;
    }
  
  }

@media screen and (max-width: 1500px) {

  .card {
      width: 400px;
      height: 400px;

  }}