.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh; /* Set container height to viewport height */
    background-image: url('/bg-hero.avif');
    background-size: cover;
    background-position: center;
    background-color: rgba(104, 54, 54, 0.788);
  }
  
  .imageContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .heroImage {
    width: 40%;
    margin-left: -8.5rem;
  }
  
  .textContainer {
    color: #ffffff;
    position: absolute;
    top: 45vh;
    right: 30vw;
    transform: translateY(-50%);
    text-align: left;
    width: 50vw;
    z-index: 2;
    padding: 1rem;
  }
  
  .mainText {
    font-size: 5rem;
    max-width: 100px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 4.5rem;
  }
  
  .secondaryText {
    font-size: 1rem;
    color: #ffffff;
    margin-left: 6rem;

    padding: 0.5rem;
  }
  
  .underline {
    border-bottom: 2px solid #dea758;
  }
  
  .button {
    font-weight: 700;
    margin-left: 20vw;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: #dea758;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #4c4d4ee1;
  }
  
  .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000100;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .button:hover,
  .button:focus,
  .button:active {
    color: white;
  }
  
  .button:hover:before,
  .button:focus:before,
  .button:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  
  .imgWithEffect {
    --s: 16px;  
    --b: 3px;   
    --w: 0; 
    --c: #dea758;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: var(--s);
    --_g: #0000 0%, var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--_g)) 
        var(--_p, -5%) var(--_p, -5%),
      conic-gradient(from 180deg at top    var(--b) right var(--b), var(--_g)) 
        calc(100% - var(--_p, -5%)) var(--_p, -5%),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--_g)) 
        var(--_p, -5%) calc(100% - var(--_p, -5%)),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 
        calc(100% - var(--_p, -5%)) calc(100% - var(--_p, -5%));
    background-size: 20% 20%; 
    background-repeat: no-repeat;
    outline: calc(var(--w)/2) solid rgba(175, 0, 0, 0.333);
    outline-offset: calc(var(--w)/-2 - var(--s));
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: .4s;
    cursor: pointer;
  }
  
  .imgWithEffect:hover {
    outline-offset: 2px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --_p: calc(var(--s)/4);
    transition: .3s, background-position .3s .35s;
    z-index: 4;
  }
  
  .galleryContainer {
    position: absolute;
    top: 60%;
    right: -10%;
    transform: translateY(-50%);
    text-align: left;
    width: 50%;
    z-index: 1;
  }
  
  .gallery1 {
    position: absolute;
    top: 30%;
  right: -15.8%;
  transform: translateY(-6%) rotate(0deg);
  text-align: left;
  width: 80%; /* Adjust the width as needed */
  z-index: 3;
}

.gallery2 {
  position: absolute;
  top: 30%;
  right: 14%;
  transform: translateY(-78%) rotate(0deg);
  text-align: left;
  width: 60%; /* Adjust the width as needed */
  z-index: 2;

}
.gallery3 {
  position: absolute;
  top: 30%;
  right:45%;
  transform: translateY(-15%) rotate(0deg);
  text-align: left;
  width: 40%; /* Adjust the width as needed */
  z-index: 1;
}


