
.nav {
    display: flex;
    align-items: center;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  /* Buttons Animation Begins  */ 
  
  
  .navItem {
    font-weight: 700;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  
  }
  .navItem:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dea758;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navItem:hover, .navItem:focus, .navItem:active {
    color: white;
  }
  .navItem:hover:before, .navItem:focus:before, .navItem:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  
  /* Buttons Animation Ends  */ 
  
  .socialMediaIcons {
    display: flex;
    margin-left: 4rem;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
  }
  
  
  .icon {
    padding: 0 0.5rem 0 0;
  }
  
  
  .icon:hover {
    color: #dea758;
  }