.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:2rem;
    padding-bottom: 5rem;
    align-items: center;
    height: 100%;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("/ourmasters2PNG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    color: white !important;
    z-index: 4;
  padding-top: 2rem;
    
  }




  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 2rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    
  }

  
  .invertedMainContainer {
    padding-left: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  
  }

/* 
  .textContainer {
    display: flex;
    justify-content: end;
    text-align: end;
  } */


  .headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subHeading {
    font-size: 1.5rem;
    color: white;
    width: fit-content;
    padding: 0.4rem 0.9rem 0.2rem 0.9rem;
    background-color: black;

  }
  
  .heading {
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: black;
  }
  
  .line2 {
    color: #ffbaba;
  }
  
  .mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 1rem;

  }

  .inverted {
    padding-left: 0 !important;
    padding-right: rem !important;
    
  }
  
  .signature {
    margin-top: 0rem;
    margin-right: 1rem;
    padding-bottom: 0rem;
    align-self: flex-end;
  }
  
  .photoContainer {
    display: flex;
    flex-direction: row;

    padding-left: 2rem;

  }


  
  .title {
    font-size: 3.5rem;
    color: black;
  }

  .title2 {
    font-size: 3.5rem;
    color: #ffbaba;
    margin-top: 1rem;
  }
  

  .subTitle {
    color: white;
  width: fit-content;
  padding: 0.4rem 0.9rem 0.2rem 0.9rem;
  background-color: black;
  margin-bottom: 1rem;
  }

  .subTitle2 {
    background-color: #ffbaba;
  }
  .story {
    font-size: 1.2rem;
    color: black;
    width: 80%;

  }
  
  .underline {
    border-bottom: 2px #be2635 solid;
  }

  .underline2 {
    border-bottom: 2px black solid;
  }

  @media screen and (max-width: 1200px) {
    .mainContainer {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;

    }

    .mainText {
      display: none;
    }

    .artistsContainer {
      height: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .photoContainer {
      justify-content: center;
      align-items: center;

      padding-left: 0;
    }
  }


  
  @media screen and (max-width: 750px) {
  
      .container {
          margin-bottom: -3rem;
      }
    .title {
      font-size: 1rem;
    }
  
    .story {
      font-size: 1rem;
    }
  
  
  }
  
  
  @media screen and (max-width: 500px) {
      .title {
        font-size: 1rem;
      }
    
      .story {
        font-size: 0.8rem;
      }
    }



      