.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    height: 100%;
    max-width: 100%;

    background-image: url("/bgFs.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    color: white !important;
    z-index: 4;
    border: solid 1px black;
    
  }

  .paddingContainer {
    margin-left: 700px;
    margin-right: 700px;
  }


  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin-top: 20px    ;
    border: solid 1px black;
    
  }


  .headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subHeading {
    font-size: 1.5rem;
    color: white;
    width: fit-content;
    padding: 0.4rem 0.9rem 0.2rem 0.9rem;
    background-color: black;

  }
  
  .heading {
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: black;
  }
  
  .line2 {
    color: #ffbaba;
  }
  
  .mainText {
    width: 50vw;
    font-size: 4rem;
  }
  .signature {
    margin-top: 1rem;
  }
  
  .photoContainer {
    display: flex;
    flex-direction: row;
    width: 40vw;
    padding-left: 2rem;

  }

  .inverted {
    padding-left: 0;
  }
  
  .title {
    font-size: 1.5rem;
    color: #be2635;
  }

  .title2 {
    font-size: 1.5rem;
    color: black;
  }
  
  .story {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
  }
  
  .underline {
    border-bottom: 2px #be2635 solid;
  }

  .underline2 {
    border-bottom: 2px black solid;
  }

  @media screen and (max-width: 1200px) {
    .mainContainer {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;

    }

    .mainText {
      display: none;
    }

    .artistsContainer {
      height: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .photoContainer {
      justify-content: center;
      align-items: center;

      padding-left: 0;
    }
  }


  
  @media screen and (max-width: 750px) {
  
      .container {
          margin-bottom: -3rem;
      }
    .title {
      font-size: 1rem;
    }
  
    .story {
      font-size: 1rem;
    }
  
  
  }
  
  
  @media screen and (max-width: 500px) {
      .title {
        font-size: 1rem;
      }
    
      .story {
        font-size: 0.8rem;
      }
    }



      